body{
    background-color: Black;
    font-family: 'Segoe UI', sans-serif;

}
.outerbox{
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: center;
    align-content: center;
}
.innerbox{
    border: 5px solid white;
    width: 30%;
    height:30%;
    font-size:100px;
    cursor: pointer;
    color: #00FF99;
    display: flex;
    align-content: center;
    justify-content: center;
}
#box1{
    border-left: none;
    border-top: none;
}
#box2{
    border-top: none;
}
#box3{
    border-right: none;
    border-top: none;
}
#box4{
    border-left: none;
}
#box6{
    border-right: none;
}
#box7{
    border-left: none;
    border-bottom: none;
}
#box8{
    border-bottom: none;
}
#box9{
    border-right: none;
    border-bottom: none;
}
.heading{
    color: aquamarine;
    font-size: 50px;
    font-weight: bold;
    width:fit-content;
    height: max-content;
    margin: 30px auto;
    text-decoration: underline;
}
.popup{
    width:350px;
    height:220px;
    color: #444;
    background-color: gainsboro;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: 600;
    border-radius: 10px;
    border: 5px solid greenyellow;
    visibility: hidden;
    margin: 0 auto;
    
}
#playag{
    width: fit-content;
    height: fit-content;
    margin: 5px auto;
}
.option{
    width: 80px;
    height: 45px;
    margin: 40px 43px;
    border: 2px ridge grey;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    font-weight: bold;

}
.option:hover{
    background-color: rgb(177, 21, 21);
}
#yes{
    background-color: rgb(5, 230, 5);
    
}
#no{
    background-color: red;
}
#winner{
    color: greenyellow;
    font-size: 30px;
    margin-top: 20px;
    height: 40px;
    text-align: center;
    
}
#buttonaligner{
    display: flex;
    justify-content: space-evenly;
}